html{
  line-height: 1.2em;
}
body {
  background-color: rgb(213, 242, 245);
}

.info {
  background-color: rgba(255, 212, 225, 0.781);
  /* padding: 10px 10px; */
}

.formDiv {
  text-align: center;
  font-size: 1em;
}

label {
  display: block;
  text-align: center;
  font-size: 1em;
  width: 97%;
  margin: 0 1.5%;
  font-family: 'Noto Sans JP';
}

strong {
  font-weight: 900;
}


.main-text {
  padding-top: 3%;
  text-align: left;
  padding: 1.2em;
  font-size: 1em;
  line-height: 1.2em;
}


.imgLounge img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  border-radius: 25px;
  margin-top: .5%;
  padding-top: .25%;
}

.imgACMWLogo img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 20%;

  margin-top: .5%;
  padding-top: .50%;
}

input {
  box-sizing: border-box;
  width: 97%;
  padding: 12px 20px;
  margin: 8px 1.5%;
  border-radius: 6px;
  background-color: rgb(255, 235, 212);
}

input[type=submit]:hover {
  background-color: rgb(157, 222, 121);
}

input[type=submit] {
  font-family: 'Lato';
}

.fontsize {
  font-size: 1em;
}

h1 {
  font-family: 'Noto Serif Gujarati';
  font-size: 1.5em;
  padding-bottom: 10px;
}

p {
  font-family: 'Robo Slab';
}

@media screen and (min-width: 510px) {

  #container {
    text-align: center;
    margin: 1% auto 0 auto;
    width: 65%;
  }
  .main{
    margin: 0.694% auto;
  }

  .info {
    border-radius: 25px;
    margin:auto;
  }

  .fontsize {
    font-size: 1.2em;
  }

  input {
    width: 100%;
  }

  #submit {
    width: 30%;
    display: block;
    margin: 0 auto;
    font-size: 0.9em;
  }
}

@media screen and (min-width: 768px) {
  #container {
    width: 45%;
    float: right;
    margin-right: 3%;
  }

  .info {
    width: 45%;
    float: left;
    margin-left: 3%;
  }

  .font-size {
    font-size: 1em;
  }

  #submit {
    width: 26%;
  }

  .main-text{
    font-size: 1.2em;
    padding: 1.44em;
    line-height: 1.44em;
  }
}